/*Yes this is a reset, the relevant normalize stuff can be found throughout the css, I've always found I've needed this, I have tried to build things without it - I like it, it's nice.*/

/*1. BLANKING --------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
header, hgroup, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, time,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
figure, figcaption, video, audio, img,
fieldset, form, label, legend, input, button, select,
table, caption, tbody, tfoot, thead, tr, th, td,
section, article, canvas, nav, footer, aside,
figure {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
/* legacy - for browsers who struggle with html5 elements*/
section, article, aside, footer, nav, header, hgroup, details, figure, figcaption, summary { display: block; }
audio, canvas, video { display: inline-block; }
/*Prevents iOS text size adjust after orientation change, without disabling user zoom.*/
html { -webkit-text-size-adjust: 100%; }
/* legacy support*/
[hidden] { display: none; }
/* remember to define focus styles!*/
:focus { outline: 0; }

@font-face {
  font-family: 'Josefin Sans';
  font-weight: normal;
  src: url('assets/fonts/josefinSans/JosefinSans-Light.ttf');
}
@font-face {
  font-family: 'Josefin Sans';
  font-weight: bold;
  src: url('assets/fonts/josefinSans/JosefinSans-SemiBold.ttf');
}
@font-face {
  font-family: 'Josefin Sans';
  font-weight: normal;
  font-style: italic;
  src: url('assets/fonts/josefinSans/JosefinSans-LightItalic.ttf');
}
@font-face {
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-style: italic;
  src: url('assets/fonts/josefinSans/JosefinSans-SemiBoldItalic.ttf');
}

/* COLOURS
white #efefef
black #111
grey #858585
pink #e4439a
*/

html { background-color: #efefef; }
body {
  width: 100%;
  overflow: auto;
  font-family: 'Josefin Sans', 'Helvetica', 'Arial', sans-serif ;
  font-size: 100%;
  color: #111111;
  line-height: 1.2;
}
.container {
  max-width: 960px;
  margin: 0px auto; padding: 2%;
}
header {
  border-bottom: 3px solid #e4439a;
  margin-bottom: 2em;
  text-align: center;
}
.logo, h1 {display: inline-block;}
.logo {
  padding: 1em; margin-right: 1em;
  background-color: #111;
  font-weight: bold;
  color: #efefef;
  text-decoration: none;
}
article {
  padding: 0px 1em;
}
h1, h2, p {margin: 0.5em 0px;}
h2 {
  border-bottom: 2px solid #858585;
}
p {
  margin-bottom: 0.8em;
  font-size: 1.3em;
}
a {color: #e4439a;}
a:hover {text-decoration: none;}

/* screen sizes: > 960, 480 < 960, 0 < 480 */
@media screen and (min-width: 980px) {
  body {
      /*border-top: 5px solid blue;*/
      font-size: 112%;
  }
}
@media screen and (max-width: 980px) {
  body {
      /*border-top: 5px solid purple;*/
  }
}
@media screen and (max-width: 480px) {
  body {
      /*border-top: 5px solid pink;*/
      font-size: 90%;
  }
}

