@import '_reset.scss';
@import '_settings.scss';

/* COLOURS
white #efefef
black #111
grey #858585
pink #e4439a
*/

html {background-color: #fafafa;}
body {
  width: 100%;
  overflow: auto;
  font-family: 'Anom Pro', monospace ;
  font-size: 100%;
  color: #111111;
  line-height: 1.2;
}
.container {
}
header {
  margin-bottom: 2em;
  @include backPattern(darken($brandOne,15%));
  text-align: center; color:lighten($brandOne, 50%);
}
.logo, h1 {display: inline-block;}
.logo {
  padding: 1em; margin-right: 1em;
  background-color: #111;
  font-weight: bold;
  color: #efefef;
  text-decoration: none;
}
article {
  padding: 0px 1em;
}
h1, h2, p {margin: 0.5em 0px;}
h2 {
  border-bottom: 2px solid #858585;
}
p {
  margin-bottom: 0.8em;
  font-size: 1.3em;
}
a {color: #e4439a;}
a:hover {text-decoration: none;}

/* screen sizes: > 960, 480 < 960, 0 < 480 */
@media screen and (min-width: 980px) {
  body {
      border-top: 5px solid blue;
      font-size: 112%;
  }
}
@media screen and (max-width: 980px) {
  body {
      border-top: 5px solid purple;
  }
}
@media screen and (max-width: 480px) {
  body {
      border-top: 5px solid pink;
      font-size: 90%;
  }
}
